body{
    margin: 0;
    padding: 0;
}
        .navbar{
            background-color: black;
            border-radius: 30px;
            
        }
        .navbar ul{
            overflow: auto;
        }
        .navbar li{
            float:left;
            list-style: none; 
            margin: 13px 20px;
            
        }
        .navbar li a{
            padding: 3px 3px;
            text-decoration: none;
            color: white;
        }
        .navbar li a:hover{
            color: red
        }
        .search{
            float: right;
            color: white;
            padding: 12px 75px;
        }
        .navbar input{
            border: 2px solid black;
            border-radius: 14px;
            padding: 3px 17px;
            width: 129px;
        }
    
        .grid-container{
            display: grid;
            row-gap: 50px;
            grid-template-columns: auto auto ;
            padding: 10px;
        }

        .grid-item{
            background-color: rgba(255, 255, 255, 0.8);
            border: 1px solid rgba(0, 0, 0, 0.8);
            padding: 20px;
            font-size: 30px;
            text-align: center;
        }

        .items{
            text-align: center;
            font-size: 30px;
        }


        button{
            width: 150px;
            height: 50px;
            cursor: pointer;
            margin: 5px;
            background: none;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .cart{
            background: #fdbb2d;
            border-radius: 10px;
            color: black;
            font-size: 15px;
            font-weight: bolder;
            border: 2px solid black;
        }
        .cart i{
            position: absolute;
            margin-left: 90px;
            column-fill: transparent;
            transition: 400ms;
            color: transparent;
        }
        .cart span{
            transition: 400ms;
        }
        .cart:hover span{
            margin-right: 30px;
        }
        .cart:hover i{
            margin-left: 45px;
            column-fill: white;
            color: black;
        }
        button:focus{
            outline: none;
        }